* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  overflow-y: scroll;
}
//CANVAS
#vanta {
  position: fixed;
  display: block;
  min-width: 100%;
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
//NAVBAR
.burger {
  position: fixed;
  top: 24px;
  left: 42px;
  z-index: 1;
  cursor: pointer;
  div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
  }
}
.menu-container {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  .menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    a {
      padding: 18px;
      text-decoration: none;
      font-size: 25px;
      color: grey;
      display: block;
      font-family: "Poppins", sans-serif;
      transition: all 0.1s ease-in;
      transition: 0.3s ease-in;
      &:hover {
        font-size: 30px;
        color: white;
      }
    }
    .current {
      font-size: 30px;
      color: white;
    }
  }
  .closebtn {
    position: absolute;
    top: 10px;
    right: 49px;
    font-size: 40px;
    color: white;
    z-index: 1;
    cursor: pointer;
  }
}
//END NAVBAR
//HOME
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  height: 100vh;
  // background-color: yellow;
}
#name {
  // margin-top: 105px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  h1 {
    font-size: 3.5em;
    line-height: 20px;
  }
  h2 {
    font-size: 2.5em;
  }
}
// .row {
//   background-color: grey;
// }
#location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  div {
    height: 20px;
    width: 1.5px;
    background: white;
    margin: 0 10px;
  }
  span {
    font-family: "Poppins", sans-serif;
    color: white;
  }
}
#image {
  margin-top: 80px;
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
#intro {
  margin-top: 80px;
  display: flex;
  align-items: center;
  color: white;
  p {
    font-family: "Montserrat", sans-serif;
  }
}
#discover {
  margin-top: 50px;
}
//HOME END

//Education
#education {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
  }

  .row .edu {
    // height: 100px;
    // background: red;
    margin-top: 100px;
    margin-right: 5px;
    margin-left: 10px;
    img {
      height: 195px;
    }
  }
}
//Skills
#skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    color: white;
    font-family: "Poppins", sans-serif;
  }

  .skill {
    // background-color: red;
    // height: 100px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    img {
      margin-top: 40px;
      height: 195px;
    }
  }
}
//GALLERY
#gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    color: white;
    font-family: "Poppins", sans-serif;
  }
  .gall {
    // background-color: red;
    // height: 100px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    h5 {
      margin: 5px 0px;
      color: white;
      font-family: "Montserrat";
    }
  }
}
//CONNECT
#connect {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10vh;
  }
  h2,
  h4,
  h5 {
    color: white;
    font-family: "Montserrat";
  }
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 10px 0;
  }
  .link {
    font-size: 3em;
    margin-right: 15px;
    margin-left: 15px;
    transition: all 0.1s ease-in;
    &:hover {
      color: rgb(141, 138, 138);
      font-size: 3.2em;
    }
  }
  p {
    margin-top: 20vh;
    color: rgba(100, 100, 100, 1);
  }
}
@media screen and (max-width: 1079px) {
  //TABLET
  #name {
    h1 {
      font-size: 2.7em;
      line-height: 16px;
    }
    h2 {
      font-size: 2.3em;
    }
  }
  #education {
    .row .edu {
      img {
        height: 150px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  //MOBILE
  //NAVBAR
  //HOME
  #name {
    h1 {
      font-size: 2em;
      line-height: 10px;
    }
    h2 {
      font-size: 1.5em;
    }
  }

  #location {
    span {
      font-family: "Poppins", sans-serif;
      color: white;
      font-size: 0.6em;
    }
  }
  #intro {
    margin-top: 20px;
    p {
      font-size: 0.6em;
    }
  }
  #discover {
    margin-top: 20px;
  }
  #image {
    margin-top: 40px;
    img {
      height: 80px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  //Education

  #education {
    h1 {
      font-size: 1.5em;
    }
    .row .edu {
      margin-top: 20px;
      margin-right: 5px;
      margin-left: 10px;
      img {
        height: 20vh;
      }
    }
  }

  //Skills
  #skills {
    h1 {
      font-size: 1.5em;
    }
    .skill {
      // background-color: red;
      // height: 80px;
      margin: 10px 10px;
      img {
        margin-top: 0;
        height: 10vh;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }
  //GALLERY
  #gallery {
    h1 {
      font-size: 1.5em;
    }
    .gall {
      // background-color: red;
      // height: 35vh;
      margin: 10px 10px;
      // padding: 20px;
    }
  }
  //Connect
  #connect {
    h1 {
      font-size: 1.5em;
    }
    h2,
    h4,
    h5 {
      font-size: 1em;
    }
    a {
      margin: 10px 0;
    }
    .link {
      font-size: 3em;
      margin-right: 15px;
      margin-left: 15px;
      transition: all 0.1s ease-in;
      &:hover {
        font-size: 3.2em;
      }
    }
  }
}
